.idea/
.swp
tpch/tables_scale_1*/
*.tbl
*.parquet
*.o
tpch/dbgen
tpch/.venv/
.venv/
tpch/__pycache__/
tpch/qgen
tpch/tpch-dbgen/qgen
tpch/tpch-dbgen/dbgen
tpch/dask_user_space/
tpch/dask-worker-space/
tpch/plots/
**/spark-warehouse
tpch/perf.*
tpch/target/
**/flamegraph.svg
tpch/Cargo.lock
tpch/results
*.log
**/__pycache__/
venv/
*.tmp